.git/
.idea/
__MACOSX/
__pycache__/
config/*.txt
drawn_1119/
gpu/
wandb/
temp_save/
save_save/
plot/
main/wandb/
allenCahn/
kawahara/
neuralop/

*/py
*/*.py
*/*/*py
*/*/*/*py

*.yaml
!ns1w_plot.yaml

#all path
*.txt
*.doc
*.docx
*.pyc
*.m
*.mat
*.npy
*.png
*.jpg
*.pt
*.zip
*.xlsx
*.pdf
*.pptx
*.xlsx
*.lnk

#root path
/te*.py
temp*.py
tmp*.py
for_debug.py
